.tag-item{
    display: table-cell;
    background: bisque;
    border-radius: 2px;
    color: black;
    padding: 0.25em;
}



.tag-temp {
    display: table;
}

li.tag-item {
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: none;
    padding: 0.2em;
}